.crar_post__modal {
    background: var(--grey-9, #fcfeff);
    border-radius: 8px;
    border: 0.1px solid;
    padding: 32px 24px 32px 24px;
    gap: 46px;
    width: 780px;
    height: 535px;
    border: none;
}

.topModal {
    display: inline-flex;
    height: 80px;
    gap: 535px;
    justify-content: space-between;
    align-items: center;
}

#h2Modal{
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #212529;
    text-align: left;
    font: 700 20px "IBM Plex Sans", sans-serif;
}

#x {
    color: #868e96;
    text-align: left;
    font: 700 14px/150% "Nunito", sans-serif;
    position: relative;
    background:  #fcfeff;
    border-radius: 4px;
    padding: 4px 14px 4px 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 32px;
}

#x:hover {
    background: #e9ecef;
    border-radius: 4px;
    padding: 4px 14px 4px 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 32px;
    position: relative;
    color: #868e96;
    text-align: left;
    font: 700 14px/150% "Nunito", sans-serif;
}

.form_modal_post {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

#parte1 {
    display: grid;
    flex-shrink: 0;
    width: 743px;
    height: 79px;
    position: static;
}

#parte2 {
    display: grid;
    flex-shrink: 0;
    width: 744px;
    height: 233px;
    position: static;
}

#edit_post__modal {
    background: var(--grey-9, #fcfeff);
    border-radius: 8px;
    border: 0.1px solid;
}

#delete_post__modal {
    background: var(--grey-9, #fcfeff);
    border-radius: 8px;
    border: 0.1px solid;
    border: none;
}

#postTitle {
    background: #f8f9fa;
    border-radius: 4px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    padding: 10px 17px 10px 17px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 743px;
    position: relative;
    color: #495057;
    text-align: left;
    font: 400 16px/150% "IBM Plex Sans", sans-serif;
    position: relative;
    width: 715px;
}

#postContent {
    background: #f8f9fa;
    border-radius: 4px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    padding: 10px 17px 10px 17px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 743px;
    height: 120px;
    position: relative;
    color: #495057;
    text-align: left;
    font: 400 16px/150% "IBM Plex Sans", sans-serif;
    position: relative;
    width: 715px;
}

.botoes {
    display: flex;
    gap: 15px;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row;
}

#cancelar {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--grey-6, #e9ecef);
    border-width: 1px;
    padding: 7px 20px 7px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    color: var(--grey-1, #212529);
    text-align: left;
    font: 500 16px/150% "IBM Plex Sans", sans-serif;
}

#cancelar:hover {
    background: #e9ecef;
    border-radius: 10px;
    padding: 7px 20px 7px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #868e96;
    text-align: left;
    font: 500 16px/150% "IBM Plex Sans", sans-serif;
}

#publicar_button {
    background: var(--brand-1, #364fc7);
    border-radius: 4px;
    padding: 7px 20px 7px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    color: var(--grey-9, #fcfeff);
    text-align: left;
    font: 500 16px/150% "IBM Plex Sans", sans-serif;
}

#publicar_button:hover {
    background: var(--brand-2, #2f4bc9);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--brand-2, #2f4bc9);
    border-radius: 4px;
    padding: 7px 20px 7px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    color: var(--grey-9, #fcfeff);
    text-align: left;
    font: 500 16px/150% "IBM Plex Sans", sans-serif;
}

.edit_post__modal {
    background: var(--grey-9, #fcfeff);
    border-radius: 8px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 800px;
    overflow: hidden;
}

.editContainer {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 743px;
    height: 32px;
    position: static;
    gap: 20px;
    border: none;
}

.title {
    margin-bottom: 10px;  
}

.modalBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    
}

.title_input {
    background: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 10px 17px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 743px;
    position: relative;
}

.conteudoBox {
    display: grid;
    flex-shrink: 0;
    width: 743px;
    height: 79px;
    position: relative;
}

.tituloEText {
    margin-top: 35px;
    display: grid;
    flex-shrink: 0;
    width: 743px;
    height: 79px;
    position: relative;
}

.content_input {
    background: #f8f9fa;
    border-radius: 4px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    padding: 10px 17px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 743px;
    height: 150px;
    position: relative;
}
  
.content_input::placeholder {
    color: var(--grey-1, #212529);
    text-align: left;
    font: var(--font-4-400, 400 16px/150% "IBM Plex Sans", sans-serif);
    position: relative;
    width: 715px;
    height: 150px;
}

.label {
    display: grid;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    color: #495057;
    text-align: left;
    font: 400 16px/150% "IBM Plex Sans", sans-serif;
}

.botoes {
    margin-left: 475px;
    margin-top: 120px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
}

.delete_post__modal {
    background: var(--grey-9, #fcfeff);
    border-radius: 8px;
    padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: flex-start;
    justify-content: center;
    width: 800px;
    position: relative;
}

.deleteContainer {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
}

.h1_p_deleteModal {
    flex-shrink: 0;
    width: 619px;
    height: 76px;
    position: static;
}

.botoesCancelar {
    display: flex;
    gap: 15px;
    margin-top: 60px;
}

#excluir_button {
    background: var(--alert-1, #c73650);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--alert-1, #c73650);
    border-width: 1px;
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 38px;
    position: relative;
    color: var(--grey-9, #fcfeff);
    text-align: left;
    font: 500 16px/150% "IBM Plex Sans", sans-serif;
}

#excluir_button:hover {
    background: var(--alert-2, #db3c58);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--alert-2, #db3c58);
    border-width: 1px;
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 38px;
    position: relative;
    color: var(--grey-9, #fcfeff);
    text-align: left;
    font: 500 16px/150% "IBM Plex Sans", sans-serif;
}

#h2Exclusao {
    color: var(--grey-1, #212529);
    text-align: left;
    font: var(--font-3-500, 500 20px/150% "IBM Plex Sans", sans-serif);
    position: relative;
}

#h1Certeza {
    color: var(--grey-1, #212529);
    text-align: left;
    font: var(--font-2-500, 500 24px/150% "IBM Plex Sans", sans-serif);
    position: relative;
}

#pDelete {
    color: var(--grey-3, #495057);
    text-align: left;
    font: var(--font-4-400, 400 16px/150% "IBM Plex Sans", sans-serif);
    position: relative;
}



.username {
    color: #212529;
    text-align: left;
    font: var(--font-5-500, 500 14px/150% "IBM Plex Sans", sans-serif);
    position: relative;
}

.bar {
    color: #e9ecef;
    text-align: left;
    font: 500 20px/150% "IBM Plex Sans", sans-serif;
    position: relative;
}

#view_post__modal {
    background: var(--grey-9, #fcfeff);
    border-radius: 8px;
    border: 0.1px solid;
    padding: 32px 24px 32px 24px;
    gap: 46px;
    width: 780px;
    height: 490px;
    border: none;
}
  
#view_post__modal-containe {
    background: var(--grey-9, #fcfeff);
    border-radius: 8px;
    padding: 32px 24px;
    gap: 46px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 752px;
    box-sizing: border-box;
}
  
#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
#img {
    background: linear-gradient(to left, #d9d9d9, #d9d9d9);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
  
#dataID {
    color: #868e96;
    text-align: left;
    font: var(--font-5-500, 500 14px/150% "IBM Plex Sans", sans-serif);
}
  
#x {
    color: #868e96;
    text-align: left;
    font: 700 14px/150% "Nunito", sans-serif;
    margin-left: auto;
    cursor: pointer;
}
  
#principall {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}
  
#tituloVIew {
    color: #212529;
    text-align: left;
    font: var(--font-2-600, 600 24px/150% "IBM Plex Sans", sans-serif);
}
  
#contentView {
    color: #495057;
    text-align: left;
    font: var(--font-4-400, 400 16px/150% "IBM Plex Sans", sans-serif);
}